extends layout

block header
    style.
        fieldset {
            padding-top: 0;
            padding-bottom: 16px;
            margin: 0;
            border: 0;
        }
        .actions{
            margin-top: 10px;
        }
block content
    div(class="mdc-toolbar-fixed-adjust")
    fieldset
        h2(class="mdc-typography--headline6")="Google drive file info"
        form(method="get")
            div(class="mdc-text-field mdc-text-field--fullwidth") 
                input(type="text", class="mdc-text-field__input", name="fileid", placeholder="GD Link", aria-label="GD Link",autofocus) 
            div.actions
                submit(type="submit", value="get info", class="mdc-ripple-surface demo-surface material-icons mdc-toolbar__icon")="info"
            pre.json=JSON.stringify(fileInfo, null, 4)
    -if(fileInfo && fileInfo.id)
        form(method="post", action="/videos/upload")
            input(type="hidden", name="fileid", value= fileInfo.id) 
            div.actions
            input(type="submit", value="Upload to youtube", class="mdc-button mdc-button--raised mdc-ripple-upgraded")             
        form(method="post", action="/videos/setCurrentMedia")
            input(type="hidden", name="fileid", value= fileInfo.id) 
            div.actions
            input(type="submit", value="Set as Current Media", class="mdc-button mdc-button--raised mdc-ripple-upgraded")             
            
        