extends layout

block header
    link(rel="stylesheet", href="https://cdn.plyr.io/2.0.18/plyr.css")
    style.
        .player{
            padding-top: 80px;
            max-width: 786px;
            margin: auto;
        }

block content
    div(class="player")
        video(class="js-player",controls,crossorigin)
            each o in mediaSources
                source(src=o.src,type=o.type)
            //- source(src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm",type="video/webm")
            //- <!-- Text track file -->
            //- track(kind="captions",label="English",srclang="en",src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt", default)
            //- <!-- Fallback for browsers that don't support the <video> element -->
        //- <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" download>Download</a>
        
    //- <!-- Plyr core script -->
    script(src="https://cdn.plyr.io/2.0.18/plyr.js")

    //- <!-- Docs script -->
    //- script(src="https://cdn.plyr.io/2.0.18/demo.js")
    script.
        plyr.setup('.js-player',{
            // Output to console
            debug: true
        });

    //- <!-- Rangetouch to fix <input type="range"> on touch devices (see https://rangetouch.com) -->
    script(src="https://cdn.rangetouch.com/1.0.1/rangetouch.js")
